.profile_pic{
    height=150px;
    width=150px;
}

body {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
}

.user_info {
    margin-left: 2.5rem;
    margin-top: 3rem;
}

