<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/static/css/profile_styles.css">
</head>
<body>
    <div>
        <h1>{{user_name}}</h1>
        <img class="profile_pic" src="https://avatars.dicebear.com/api/male/john.svg?background=%230000ff">
    </div>
    <div class="user_info">
        <h2>User Information</h2>
        <p>User Name: {{user_name}}</p>
        <p>Phone Number: {{phone_number}}</p>
        <p>Address: {{address}}</p>
    </div>
</body>
</html>